.borderlessButton-container {
    display: inline-block;
    color: var(--primary-color);
    font-size: 13px;
    &:focus{
        outline-width: 0;
    }
    font-family: 'Poppins-Medium',"AlQabas-Regular",sans-serif;
}

.borderlessLeftIcon {
    margin-inline-end: 10px;
    padding-bottom: 4px;
    width: 25px;
    height: 25px;
}

.borderlessRightIcon {
    padding-bottom: 4px;
    margin-inline-start: 10px;
    width: 25px;
    height: 25px;
}