.svg-button{
    span{
        display: flex;
        align-items: center ;
    }
    svg,.spinner-border{
        margin-inline-end: 10px;
    }
    &.no-margin{
        svg{
            margin: 0;
        }
    }
}


.btn-danger-inverted {
    color: var(--light-red) !important;
    border: none !important;
    background-color: transparent !important;
    // font-size: inherit !important;
}

