$primary: #121212;
$secondary: #2980f3;
$background: #2540d8;
$textWhite: #848399;
$red: #ff1e2a;
$white: #fff;
$lightGrey: #f2f2f5;
$grey: #84829a;
$extraLightGrey: #7e7c95;
$yellow: #fcc015;
$black: #161616;
$greyWhite: #f3f3f5;
$greyBackground: #e5e5e5;
$greyWhiteLight: #e7e7e7;
$lightError: #fff3f3;
$bloodyRed: #dd0000;
$titleBlue: #2652d9;
$lightWhite: #f2f2f2;
$dateGrey: #84839b;
$trendingWhite: #4e64dd;
$success: #e0f0d8;
$borderGrey: #6b6a84;
$activeBulletOrange: #fcc015;
$skyBlue: #3788f4;
$borderGreyDetails: #b9b8c2;
$placeHolderSearch: #b5b4c1;
$dimGrey: #a3a3a3;
$secondText404: #a3a3a3;
$borderGreyLine: #c2c0ca;
$skyBluePoll: #2980f2;
$storyYellow: #ffdd55;
$loginMessageGrey: #737373;
$dimBlue: #020515;
$seasonPurple: #090636;
$loginModalBackground: #030826;
$nonAuhtenticatedInputsBackground: #192250;
$blackLowOpacity : #00000034



