@import '../../../Assets/Styles/Fonts';

.switch-with-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title-subtitle {
    padding-inline-end: 35px;
    .title {
      margin-bottom: 3px;
      color: black;
      @include setFont('regular', 14);
    }
    .subTitle {
      margin: 0;
      @include setFont('regular', 11);
      color: #c1c6db;
    }
  }
  .switch {
    margin: 0;
  }
}
.removeFlex {
  display: block !important;
}
