.switch {
    position: relative;
    display: inline-block;
    min-width: 45px;
    height: 26px;
   input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: var(--primary-color);
    }


    &:checked + .slider:before {
      transform: translateX(21px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 35px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 0;
    top: 0;
    margin: auto 0;
   transform: translateX(4px);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
}
body[dir=rtl] .switch .slider:before{
      transform: translateX(-4px)!important;

}
body[dir=rtl] .switch input:checked + .slider:before {
  transform: translateX(-20px)!important;
}