@import "../../../Assets/Styles/Fonts";

.color-picker{
    width: 100%;
    .picker{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .color-value{
            width:calc(100% - 50px);
            height: 40px;
            border-radius: 5px;
            border: solid 1px #e4e6ef;
            background-color: #ffffff;
            padding:10px 15px;
            @include setFont("regular",13)
        }
        button{
            width: 40px;
            height: 40px;
            border-radius: 5px;
            border: solid 1px #e4e6ef;
            outline: none;
        }
        .picker-box{
            position: absolute;
            z-index: 100;
            right: 0;
            top:120%;
        }
    }
}