$lineLightGrey: #ebedf3 !default;
$boxShadow: 0 0 30px 0 rgba(82, 63, 105, 0.03);
$lineSeperatorLightGrey: #ebedf3 !default;
$tintGreen: #16c5bd;
:root{
    --seperator-line-grey: #ebedf3;
    --secondary-color :#e4e6ef;
    --primary-color:#3599fe;
    --light-grey:#b9bdd5;
    --dark-grey:#3f4254;
    --informative-text:#9ea2b9;
    --light-red:#fe3535;
    --black:#000000;
    --white:#ffffff;
    --tint-light-grey:#f6f9fc;
    --tint-green:#16c5bd;
    --gray-2:#ebedf3;
    --light-blue-bg: rgb(228, 237 ,246);
    --light-blue: rgb(158, 162, 184);
    --color-white:white;
}